.row {
    border: 2px slod red;
    display: flex;
    justify-content: space-evenly;
}

.col1,
col2,
col3,
col4,
col5,
col6 {
    border: 1px solid blue;
}

.conatiner {
    border: 1px solid red;
}